.git
.gitignore
.venv
venv
__pycache__
**/__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3
.env
.env.*
!.env.example
media
staticfiles
*.egg-info
.DS_Store
.idea
.vscode
**/tests.py
**/*_tests.py
htmlcov
.coverage
.pytest_cache
.mypy_cache
*.md
